
.bg-padrao{
  background-color: rgb(236, 236, 236);
}

.login-page{
  background-image: url("../assets/fundo.jpeg");
  background-size: cover;
  background-repeat: no-repeat;

  width: 100vw;
  height: 100vh;
}

.container{  
  width: 100%;
  height: 100%;
  align-content: center;
}

.card{
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.856) !important;
}
  
.social_icon span{
  font-size: 60px;
  margin-left: 10px;
  color: blue;
}
  
.social_icon span:hover{
  color: white;
  cursor: pointer;
}
  
/* .card-header h2{
  margin-top: 25px;
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
} */

.card-body h4{
  color: black;
}
  
.social_icon{
  position: absolute;
  right: 20px;
  top: -45px;
}
  
.input-group-prepend span{
  width: 50px;
  background-color: #157347;
  color: black;
}
  
input:focus{
  outline: 0 0 0 0  !important;
  box-shadow: 0 0 0 0 !important;
  
}

.input-group{
  margin-bottom: 10px
}
  
.remember{
  color: white;
}
  
.remember input{
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.hidden{
  display: none;
}

.page-header {
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: white;
  box-shadow: rgb(0 0 0 / 35%) 0px 2px 7px;
  font-size: 12.5px;

}

.center-mid{
  display: flex;
  align-items: center;
  justify-content: center;
}

.column{
  flex-direction: column;
}

.row{
  flex-direction: row;
}

.space-evenly{
  justify-content: space-evenly;
}

.pointer{
  cursor: pointer;
}

.nav-item p{
  margin-bottom:0;
}